body {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	font-family: Arial;
}

.user {
	margin-block: 15px;
}

.purchase-table {
	width: 50%;
	border-collapse: collapse;
	margin-top: 20px;
	font-family: Arial, sans-serif;
}

.purchase-table th,
.purchase-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.purchase-table th {
	background-color: #f2f2f2;
	font-weight: bold;
}

.purchase-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.purchase-table tr:hover {
	background-color: #e9f5ff;
}
